div#innerLoginPopupWrapper {
    position: fixed;
    z-index: 98;
    border-radius: 15px;
    background-color: #050505;
    opacity: 0.95;
    border: 5px solid #101010;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 3vh;
    top: 20vh;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;

    transform: scale(0);
    opacity: 0.0;
    transition-property: transform opacity;
    transition-duration: 0.75s;
    transition-timing-function: ease-out;

    &.shown {
        transform: scale(1);
        opacity: 1.0;
    }
}

div#loginPanelContent {
    opacity: 1.0;
    padding-bottom: 5vh;

    transition-property: opacity;
    transition-duration: 0.5s;
}

button.loginPanelSelector {
    padding: 0;
    background-color: #050505;

    transition-property: background-color;
    transition-duration: 1s;

    &:hover {
        background-color: #333333;
    }
}