div#loginPanelContent {
    opacity: 1.0;
    padding-bottom: 5vh;

    transition-property: opacity;
    transition-duration: 0.5s;
}

button.loginPanelSelector {
    padding: 0;
    background-color: #050505;

    transition-property: background-color;
    transition-duration: 1s;

    &:hover {
        background-color: #333333;
    }
}