//this stylesheet only contains overrides for the main stylesheet for mobile devices

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

h1, h2, h3, p {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 80% !important;
    margin: auto;
}

button {
    padding: 5px;

    &#headerButton {
        position: fixed;
        top: 0;
        right: 0;
        width: auto;
    }

    &.linkButton {
        padding-bottom: 2vw;
        margin: auto;
        max-height: max(300px, 50vw);
    }
}

div {

    &.purpleGrey {
        box-shadow: 0 0 200px 100px #30112c;
    }

    &.footerContent {
        margin-top: 5vh;
    }

    &#mobileHeader {
        top: 5vh;
        left: 0;
        position: fixed;
        z-index: 99;
        background-image: linear-gradient(#050505, #1b0a19);
        border-left: none !important;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: #303030 solid 3px;
        
        $maxWidth: 33vw;
        $maxHeight: 50vh;

        @keyframes hideHeader{
            0% {
                max-height: $maxHeight;
                max-width: $maxWidth;
                opacity: 1.0;
            }
            75% {
                max-width: $maxWidth;
                max-height: 0;
                opacity: 1.0;
            }
            99% {
                max-height: 0;
                max-width: 0;
                opacity: 1.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        animation-name: hideHeader;
        animation-duration: 1s;
        max-height: 0;
        max-width: 0;
        opacity: 0.0;

        &.shown {
            @keyframes showHeader {
                0% {
                    max-height: 0;
                    max-width: 0;
                }
                1% {
                    opacity: 1.0;
                }
                25% {
                    max-width: $maxWidth;
                    max-height: 0;
                }
                100% {
                    max-height: $maxHeight;
                    max-width: $maxWidth;
                }
            }
            animation-name: showHeader;
            animation-duration: 1s;

            max-height: $maxHeight;
            max-width: $maxWidth;
            opacity: 1.0;
        }
    }

    &.dividerLine {
        width: 80%;
        background-color: white;
        height: 5px;
        margin: 1vh auto;
    }
    
    &#fullSpecDiv {
        margin: 5vh auto;
        overflow-y: scroll;
    }
}

img {

    &.mainImage {
        max-width: 92.5%;
    }
}

input {
    width: 85%;
    max-width: unset;
    border: 3px solid #202020;

    &.submit {
        font-size: 17px;
    }
}

video {
    max-width: 90%;
}