//this stylesheet only contains overrides for mobile clients

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 17px;
    font-weight: 700;
}

p {
    font-size: 15px;
}

h1, h2, h3, p {
    max-width: 85%;
}

div {

    &.fancyButtonWrapper {
        max-width: 60vw;
        margin-top: 2vh;
        margin-bottom: 0;
    }

    $headerWidth: 40vw;

    &#headerWrapper {
        background-color: #000000;
        width: $headerWidth;
        height: 100vh;
        opacity: 0.85 !important;
        border-right: white solid 5px;

        transform: translateX(-($headerWidth + 3vw));

        &.headerOpen {
            transform: translateX(0);
        }
    }

    &#hamburgerWrapper {
        position: fixed;
        left: 2vw;
        top: 0.5vh;
        z-index: 99;

        transform: translateX(0);

        &.headerOpen {
            transform: translateX($headerWidth + 3vw)
        }
    }

    &#hamburgerWrapper, &#headerWrapper {
        transition-property: transform;
        transition-duration: 0.75s;
        transition-timing-function: ease;
    }

    &.popupWrapper {
        $height: 66vh;
        $width: 90vw;
        height: $height;
        top: (100vh - $height) / 2;
        width: $width;
        left: (100vw - $width) / 2;
        border-radius: 25px;
        box-shadow: 0 0 20px 0 #75606f;
    }
}

span {

    &.fancyButtonArrow {
        display: unset;
        transform: unset;
        opacity: 1;
        margin-left: 10%;
    }
}

input {
    width: 75%;
}

video {
    max-width: 90%;
}