body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    opacity: 0.0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 1s;
}

h1 {
    color: white;
    font-family: 'Akatab';
    font-weight: 900;
    font-size: 70px;
}

h2 {
    color: #f2e1ee;
    font-family: 'Overpass';
    font-weight: 800;
    font-size: 50px;

    &.linkButtonTitle {
        margin-left: 1px;
        margin-right: 0;
        width: 50%;
        transition-property: margin-left margin-right;
        transition-duration: 0.75s;
    }
}

h3 {
    color: #bd9bb4;
    font-family: 'Albert Sans';
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;

    transition-property: transform color;
    transition-duration: 0.5s;

    &.limitedSize {
        max-width: 50%;
        margin: auto;
    }

    &:hover {
        transform: scale(1.5);
    }
}

p {
    color: #d9ccd5;
    font-family: 'Albert Sans';
    font-weight: 100;
    font-size: 20px;

    &.legalText {
        font-family: monospace;
        font-size: 12px;
        color: #868386;
    }
}

h1, h2, h3, p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    &.alignLeft {
        margin-left: 5%;
        margin-right: auto;
        text-align: left;
        max-width: 75%;
    }

    &.alignRight {
        margin-right: 5%;
        margin-left: auto;
        text-align: right;
        max-width: 75%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    opacity: 1.0;
    background-color: transparent;
    padding: 20px;
    margin: auto;
    width: 100%;
    border: none;

    &.linkButton {
        width: 75% !important;
        margin: 50px !important;
        padding-bottom: 25px;
        border-radius: 10px;
        overflow-x: hidden;

        background-color: rgba(50, 50, 50, .25);
        box-shadow: 0 0 100px 1px #050505;

        transition-duration: 0.75s;
        transition-property: max-height background-color box-shadow;
        transition-timing-function: ease-out;
        max-height: 200px;
        overflow-y: hidden;
        
        &.expanded {
            max-height: 500px;
            background-color: #1a1619;
            box-shadow: 0 0 50px 1px #1a1619;
        }
    }
}

div {
    margin: none auto;
    padding: none;
    border: none;
    display: block;

    &.hiddenScroll {
        overflow-y: hidden;
    }

    &.withBackgroundImage {
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.purpleGrey {
        $backgroundColor: #30112c;
        background-color: $backgroundColor;
        box-shadow: 0 0 10000px 200px $backgroundColor;
    }

    &.linkButtonDivider {
        background-color: #70666d;
        height: 1px;
        width: 10%;
        border-radius: 50%;
        margin: auto auto 50px auto;
        transition-property: transform opacity;
        transition-duration: 0.5s;
        opacity: 0.0;
    }

    &.cleanLinkButtonDivider {
        height: 5px;
        width: 85%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;

        transition-property: max-width;
        transition-duration: 0.6s;
        max-width: 0%;

        &.hovered {
            max-width: 85%;
        }
    }

    &#footerContent {
        background-color: #0e030e;
        width: 100%;
        box-shadow: 0 0 150px 125px #0e030e;
    }

    &.popupWrapper {
        position: fixed;
        z-index: 98;
        border-radius: 15px;
        background-color: #050505;
        opacity: 0.95;
        border: 5px solid #101010;
        width: 80%;
        left: 0;
        right: 0;
        bottom: 3vh;
        top: 20vh;
        margin: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
    
        transform: scale(0);
        opacity: 0.0;
        transition-property: transform opacity;
        transition-duration: 0.75s;
        transition-timing-function: ease-out;
    
        &.shown {
            transform: scale(1);
            opacity: 1.0;
        }
    }

    &.dividerLine {
        width: 80%;
        background-color: white;
        height: 5px;
        margin: 1vh auto;
        position: relative;
    }
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;

    &.mainImage {
        box-shadow: 0 0 50px 5px #070707;
        border-radius: 10px;
        width: 85%;
        max-height: 80vh;
        object-fit: cover;
    }

    &.centered {
        margin: auto;
    }

    &.linkButtonImage {
        margin-top: 20px;
    }
}

input {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 20vw;
    background-color: #101010;
    border: 5px solid #202020;
    border-radius: 5px;
    outline: none;
    color: #bd9bb4;
    
    transition-property: background-color transform;
    transition-duration: 0.5s;

    &:focus {
        background-color: #404040;
        transform: scale(1.1, 1.1);
    }

    &.submit {
        background-color: unset !important;
        border: unset;
        font-size: 25px;
        font-weight: 200;
        font-family: 'Albert Sans';
        color: #bd9bb4;

        transition-property: transform;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

select {
    margin: auto;
    display: block;
    border: 5px solid #202020;
    border-radius: 5px;
    background-color: #303030;
    color: #d9ccd5;
    min-width: 50%;
    min-height: 5vh;

    transition-property: background-color transform;
    transition-duration: 0.5s;

    &:focus {
        background-color: #404040;
        transform: scale(1.1, 1.1);
    }
}

table {
    table-layout: fixed;
    width: 100%;

    &.fadeinWithHover {
        opacity: 0.75;

        transition-property: opacity;
        transition-duration: 0.5s;

        &:hover {
            opacity: 1.0 !important;
        }
    }
}

video {
    display: block;
    max-width: 75%;
    max-height: 75vh;
    margin: auto;
    border-radius: 25px;
    border: 5px solid #202020;
}

ul {
    padding: 0;
    margin: 0 auto;
    display: block;
}

.rounded {
    display: block;
    border-radius: 50%;
}
