div#fullSpecDiv {
    overflow: hidden;
    width: 90%;
    margin: auto;
    max-height: 0;
    box-shadow: 0 0 10000px 200px #000000;
    background-color: #000000;
    $heightWhenShown: 150vh;
    height: $heightWhenShown;
    transition-property: max-height box-shadow background-color;
    transition-duration: 1s;

    &.shown {
        max-height: $heightWhenShown;
        box-shadow: 0 0 10000px 200px #30112c;
        background-color: #30112c;
    }
}